@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

html {
    --green: #5d6a09;
    --darkgreen: #414a04;
    --red: #81150b;
    --lightyellow: #ffeccb;
}

body {
    background-image: url("../img/bg_pizza.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}


h1,
h2 {
    font-family: 'Cabin Sketch', cursive;
    color: var(--green);
}

h1 {
    font-variant: small-caps;
    font-size: 7em;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 50px;
    }
}

h2 {
    font-size: 3em;
}

ul {
    list-style-image: url("../img/pizza_icon.png");
    line-height: 30px;
}

ul li>span {
    color: var(--darkgreen);
    font-weight: bold;
    text-transform: capitalize;
}

p:not(.extras *) {
    line-height: 200%;
    text-indent: 15px;
}

nav {
    background-color: var(--red);
}

#c1 {
    background-color: rgba(255, 255, 255, 0.7);
}

img.my-shadow {
    box-shadow: 2px 2px 5px var(--green);
}

.text-italic {
    font-style: italic;
}

#abra {
    border: 3px solid var(--green);
}

.myfooter {
    background-color: var(--red);
}

.myfooter a {
    color: unset;
    font-variant: small-caps;
    text-decoration: unset;
    letter-spacing: 2px;
    margin-left: 5px;
}

.myfooter a:hover {
    background-color: black;
}

p {
    margin: 0;
}